@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="text-center">
                <h1>Welcome to My Online Banking App</h1>
            </div>
            <p class="lead">Our online banking app allows you to manage your bank account, pay bills, and more, all from the comfort of your own home. Whether you're at home or on the go, our app gives you convenient access to your finances.</p>
            <p>To get started, please <a asp-area="" asp-controller="Home" asp-action="register">register</a> for an account. If you already have an account, please <a asp-area="" asp-controller="Home" asp-action="Login">log in</a> to get started.</p>
            <p>Once you're logged in, you can view your account balance, transaction history, and make payments to your payees. Teller can perform deposit and withdraw operations on customer accounts as well as view all customer information.</p>
            <p>Thank you for choosing Online Banking App for your banking needs. We're here to help you every step of the way.</p>
        </div>
    </div>
</div>

